.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-size: calc(1px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.body {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+18,000000+52,004d77+85 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 18%, #000000 52%, #004d77 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 18%,#000000 52%,#004d77 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 18%,#000000 52%,#004d77 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#004d77',GradientType=0 ); /* IE6-9 */
}